.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-auto-rows: 1fr;
}
.sudoku-parent {
  width: 35%;
  font-weight: bold;
  border: 5px solid #cfe2ff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  font-family: "Hachi Maru Pop", cursive;
}
.sudoku-child {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #333;
  aspect-ratio: 1 / 1;

}

.sudoku-child[data-col="2"],
.sudoku-child[data-col="5"] {
  border-right: 2px solid !important;
}

.sudoku-child[data-row="2"],
.sudoku-child[data-row="5"] {
  border-bottom: 2px solid !important;
}

.sudoku-child[data-check="true"] {
  background-color: #f8d7da;
}
.neko {
  width: 65%;
}
.neko[data-neko="true"] {
  display: none;
}
.neko[data-neko="false"] {
  display: initial;
}
.neko-run {
  animation: fuwafuwa 3s ease-in-out infinite alternate;
  background: url(../img/neko-run.png) no-repeat left bottom / 200px auto;
  display: inline-block;
  transition: 1.5s ease-in-out;
  width: 30%;
  height: 100%;
  margin-top: 15px;
}
.neko-cry {
  animation: hurueru .2s ease-in-out infinite alternate;
  background: url(../img/neko-cry.png) no-repeat left bottom / 200px auto;
  display: inline-block;
  transition: 1.5s ease-in-out;
  width: 30%;
  height: 100%;
  margin-top: 15px;
}
.neko-smile {
  animation: fuwafuwa 3s ease-in-out infinite alternate;
  background: url(../img/neko-smile.png) no-repeat left bottom / 200px auto;
  display: inline-block;
  transition: 1.5s ease-in-out;
  width: 30%;
  height: 100%;
  margin-top: 15px;
}
.neko-finish {
  animation: tobihane 1.8s ease-in-out infinite alternate;
  background: url(../img/neko-finish.png) no-repeat left bottom / 200px auto;
  display: inline-block;
  transition: 1.5s ease-in-out;
  width: 30%;
  height: 100%;
  margin-top: 15px;
}
.comment {
  animation: comment 3s ease-in-out infinite alternate;
  background: url(../img/comment.png) no-repeat right top / 450px auto;
  display: inline-block;
  transition: 1.5s ease-in-out;
  width: 65%;
  height: 100%;
  margin-top: 15px;
  position: relative;
}
.comment p{
  position: absolute;
  transform: translate(-50%,-50%);
  color: #b8824d;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Hachi Maru Pop", cursive;
  margin: 0!important;
  padding: 0!important;
  text-align: center;
}
.comment-run {
  top:25%;
  left: 60%;
}
.comment-cry {
  top:25%;
  left: 58%;
}
.comment-smile {
  top:25%;
  left: 58%;
}
.comment-finish {
  top:25%;
  left: 60%;
}

@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(7deg);
  }
  50% {
    transform:translate(-10px, 0) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(-7deg);
  }
}
@keyframes tobihane {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(10%);
  }
}
@keyframes hurueru {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(2px, 2px) rotateZ(1deg)}
  50% {transform: translate(0px, 2px) rotateZ(0deg)}
  75% {transform: translate(2px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}
@keyframes comment {
  0% {
    transform:translate(5px, 0) rotate(7deg);
  }
  50% {
    transform:translate(0, 0) rotate(0deg);
  }
  100% {
    transform:translate(15px, 0) ;
  }
}